* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("../img/bts.jpeg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  padding-left: 60px;
}

.texto h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ff0080;
}

.texto p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.botao {
  background-color: rgb(255, 157, 231);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.botao:hover {
  background-color: #720d59;
  color: rgb(255, 155, 217);
}